@font-face {
	font-family: 'SFProDisplay';
	src: url('../../fonts/SFProDisplay-Bold.eot');
	src: local('☺'), url('../../fonts/SFProDisplay-Bold.woff') format('woff'), url('../../fonts/SFProDisplay-Bold.ttf') format('truetype'), url('../../fonts/SFProDisplay-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('../../fonts/SFProDisplay-Heavy.eot');
	src: local('☺'), url('../../fonts/SFProDisplay-Heavy.woff') format('woff'), url('../../fonts/SFProDisplay-Heavy.ttf') format('truetype'), url('../../fonts/SFProDisplay-Heavy.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('../../fonts/SFProDisplay-Medium.eot');
	src: local('☺'), url('../../fonts/SFProDisplay-Medium.woff') format('woff'), url('../../fonts/SFProDisplay-Medium.ttf') format('truetype'), url('../../fonts/SFProDisplay-Medium.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactText';
	src: url('../../fonts/SFUIText-Regular.eot');
	src: local('☺'), url('../../fonts/SFUIText-Regular.woff') format('woff'), url('../../fonts/SFUIText-Regular.ttf') format('truetype'), url('../../fonts/SFUIText-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

