//-----intro-----
.intro {
  min-height: 660px;
  height: 100vh;
  background-color: var(--bg-image-color);
  background-image: url(/site/img/intro_bg.jpg);
  @include bg-image;

  &__container {
    height: 100%;
  }

  &__inner {
    height: 100%;
    position: relative;
  }

  &__top {
    padding-top: 225px;
  }

  &__link {
    padding: 18px 24px;
    background-color: rgba(115, 175, 186, 0.2);

    &:hover {
      background-color: rgba(115, 175, 186, 1);
    }

    &:active {
      background-color: rgba(115, 175, 186, 1);
    }
  }

  &__title {
    color: var(--white-text-color);
    font-size: 80px;
    line-height: 84px;
    max-width: 36%;
    margin-top: 62px;
  }

  &__subtitle {
    font-family: "SFCompactText";
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 16px;
    max-width: 36%;
    margin-top: 49px;
  }

  &__button {
    color: var(--white-text-color);
    background-color: var(--orange-color);
    margin-top: 59px;
    position: relative;
    z-index: 5;
    transition: background 0.3s linear;

    &:hover {
      background-color: var(--orange-hover-color);
    }

    &:active {
      background-color: var(--orange-hover-color);
    }
  }

  &__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__slider {
    width: 32%;
  }
}

//-----search-form-----
.search-form {
  height: 120px;
  width: 68%;
  position: relative;

  &__field {
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
    font-size: 26px;
    color: var(--dark-color);
    padding: 0 56px 0 90px;
    outline: none;
    border: 0;
    box-shadow: inset 0px -2px 0px rgba(223, 223, 223, 0.5);
    border-radius: 4px 0px 0px 0px;

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      color: inherit;
    }
  }

  &__button {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url(..//img/svg/search.svg);
    @include bg-image;
    border: none;
    background-color: transparent;
  }
}

.main-slider {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  position: relative;

  &__wrapper{
    height: 400px;
  }

  &__media video{
    height: 280px;
  }

  &__media img {
    display: block;
  }

  &__text {
    font-weight: 800;
    color: var(--white-text-color);
    font-size: 12px;
    letter-spacing: 2.18182px;
    text-transform: uppercase;
    background-color: var(--neptune-color);
    height: 120px;
  }

  &__button-left{
    position: absolute;
    left: 32px;
    bottom: 36px;
    z-index: 50;
  }

  &__button-right{
    position: absolute;
    right: 32px;
    bottom: 36px;
    z-index: 50;
  }
}

@media (max-height: 1079px) {
  .intro {
    &__top {
      padding-top: 150px;
    }
  }
}

@media (max-height: 880px) {
  .intro {
    &__title {
      font-size: 65px;
      line-height: 65px;
    }
  }
}

@media (max-height: 780px) {
  .intro {
    &__title {
      font-size: 60px;
      line-height: 60px;
      margin-top: 50px;
    }

    &__subtitle {
      font-size: 12px;
      line-height: 12px;
      margin-top: 40px;
    }

    &__button {
      margin-top: 40px;
      padding: 25px 70px;
    }
  }

  .search-form {
    height: 100px;
  }

  .main-slider {
    &__text {
      height: 100px;
    }
  }
}
